.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 2;

	.close {
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		font-size: 32px;
		padding: 10px 20px;

		&:hover {
			cursor: pointer;
		}
	}

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.modal-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: white;
	}
}
